.botones {
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;

  &:hover {
    filter: opacity(85%);
  }
}

.botontienda {
  @extend .botones;
  color: aqua;
}
.card {
  background-color: aqua;
}
