@media (max-width: 480px) {
  .mainflex {
    display: flex;
    width: 100%;
    margin-top: 2%;
  }
  .card-title {
    background-color: aqua;
  }
  .card-text {
    background-color: lightblue;
  }
}
