@media (min-width: 481px) and (max-width: 1023px) {
  .asideflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    font-size: x-large;
  }

  .galeriaflex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainflex {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 2%;
  }
}
